<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>About ngBlog</mat-card-title>
        <mat-card-subtitle>Versión 0.0.1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia odit fuga magnam, dolor mollitia maxime
            consectetur iusto et commodi voluptatem reprehenderit, corporis reiciendis voluptatibus! Neque commodi
            adipisci consectetur eligendi quia!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia odit fuga magnam, dolor mollitia maxime
            consectetur iusto et commodi voluptatem reprehenderit, corporis reiciendis voluptatibus! Neque commodi
            adipisci consectetur eligendi quia!</p>
    </mat-card-content>
</mat-card>